### 00 - Exploración de datos raw

Carga todos los CSV en `data/raw` y muestra 5 filas de cada uno para verificar estructura y columnas.

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_columns", 120)
pd.set_option("display.width", 200)

RAW_DIR = Path('../data/raw')
files = [
    RAW_DIR / 'ordenes_header.csv',
    RAW_DIR / 'produccion_operaciones.csv',
    RAW_DIR / 'almacen_movimientos.csv',
    RAW_DIR / 'compras_lotes.csv',
    RAW_DIR / 'datos_referencias.csv',
    RAW_DIR / 'rrhh_turno.csv',
    RAW_DIR / 'dataset_integrado_2025.csv',
]

for f in files:
    if not f.exists():
        print(f"[WARN] No existe {f}")
        continue
    df = pd.read_csv(f)
    print(f"--- {f.name} ---")
    print(f"Shape: {df.shape}")
    display(df.head(5))

--- ordenes_header.csv ---
Shape: (327, 8)

  work_order_id  ref_id  familia     cliente  qty_plan fecha_lanzamiento due_date planta_inicio
0       24/0749  081901  PENDING  Schaeffler      2500        2025-01-23  PENDING       PENDING
1       24/0717  081906  PENDING  Schaeffler      5000        2025-01-23  PENDING       PENDING
2       24/0672  081290  PENDING  Schaeffler      4427        2025-01-24  PENDING       PENDING
3       24/0694  081505  PENDING  Schaeffler      1988        2025-01-24  PENDING       PENDING
4       24/0684  081290  PENDING  Schaeffler      2100        2025-01-24  PENDING       PENDING

--- produccion_operaciones.csv ---
Shape: (64555, 23)

,work_order_id,work_order_id_raw,op_id,machine_id,machine_name,planta,op_text,ref_id,ref_id_raw,ts_ini,ts_fin,duracion_min,piezas_ok,piezas_scrap,evento,tipo_incidencia,operario_id,operario_nombre,of_impute_src,ref_impute_src,origen_fichero,origen_ruta,material_lot_id
0,24/0658,24/0658,SOLDADURA-RE,515,SOLDADORA,Zaldibar,SOLDADURA-RE,81000.0,81000.0,2025-01-06T21:47:00,2025-01-06T21:50:00,3.0,0,0,Producción,NaN,56.0,"SAIZ ALONSO, LUIS JORGE",orig,orig,515.csv,usados/515.csv,0
1,24/0658,24/0658,SOLDADURA-RE,515,SOLDADORA,Zaldibar,SOLDADURA-RE,81000.0,81000.0,2025-01-06T21:48:00,2025-01-06T21:50:00,2.0,0,0,Incidencia,CALENTAR HIDRÁU,56.0,"SAIZ ALONSO, LUIS JORGE",orig,orig,515.csv,usados/515.csv,0
2,24/0674,24/0674,RECTIFICADO,1001,Linea Luk 1,Abadiño,RECTIFICADO,124203.0,124203.0,2025-01-06T21:49:00,2025-01-07T06:09:00,500.0,322,3,Producción,NaN,542.0,ABDOULAYE THIAM,orig,orig,1001.csv,usados/1001.csv,0
3,24/0725,24/0725,SOLDADURA-RE,503,SOLDADORA,Zaldibar,SOLDADURA-RE,904802,904802,2025-01-06T21:49:00,2025-01-07T05:55:00,486.0,1227,14,Producción,NaN,30.0,"GIL SANCHEZ, PEDRO",orig,orig,503.csv,usados/503.csv,0
4,24/0731,24/0731,SOLDADURA-RE,505,SOLDADORA,Zaldibar,SOLDADURA-RE,081147,081147,2025-01-06T21:49:00,2025-01-07T05:54:00,485.0,9378,2,Producción,NaN,30.0,"GIL SANCHEZ, PEDRO",orig,orig,505.csv,usados/505.csv,0

--- almacen_movimientos.csv ---
Shape: (1794, 6)

              mov_id  material_lot_id item_ref_id tipo_mov   qty             fecha_ts
0  MOV-20250107-0001                0      124203       IN   360  2025-01-07T00:00:00
1  MOV-20250107-0002                0      031100       IN  1061  2025-01-07T00:00:00
2  MOV-20250107-0003                0      563404       IN   666  2025-01-07T00:00:00
3  MOV-20250107-0004                0      081000       IN   119  2025-01-07T00:00:00
4  MOV-20250107-0005                0      081602       IN   115  2025-01-07T00:00:00

--- compras_lotes.csv ---
Shape: (326, 8)

              material_lot_id              laminado_id    ref_materia  qty_recibida udm  peso_bruto      uds   fecha_recepcion_ts
0  LOTE-20250109-918506118506           A/3112 13X10,1  918506/118506        8266.0  kg        1.00   8200.0  2025-01-09T00:00:00
1        LOTE-20250109-124203         A/3585 16,8X16,8         124203        5385.0  kg        2.04   2600.0  2025-01-09T00:00:00
2        LOTE-20250109-091135         A/3778 13,5X12,3         091135        5446.0  kg        1.17   4600.0  2025-01-09T00:00:00
3        LOTE-20250109-031100  A/4235 14,7X(10,8/11,4)         031100        5152.0  kg        1.17   4400.0  2025-01-09T00:00:00
4        LOTE-20250110-124203         A/3585 16,8X16,8         124203       24223.0  kg        2.04  11800.0  2025-01-10T00:00:00

--- datos_referencias.csv ---
Shape: (383, 3)

   ref_id              familia  peso_neto_kg
0  000012            STELLRING         0.394
1  000042            STELLRING         0.375
2  000044   CORONA DE ARRANQUE         0.774
3  000065   CORONA DE ARRANQUE         0.800
4  000097  INKREMENT GEBERRING         0.380

--- rrhh_turno.csv ---
Shape: (8, 8)

   año_mes   horas_teoricas   reduccion_tco   horas_ajustadas   horas_enfermedad   horas_accidente   horas_permiso   horas_netas
0  2025-01            12350             788             11562                752                 0             390         10420
1  2025-02            12478             230             12248                944               104             416         10784
2  2025-03            12184             292             11892                786               232             371         10503
3  2025-04            11472             132             11610                864               178             322          9976
4  2025-05            12463              89             12374                866                94             370         11044

--- dataset_integrado_2025.csv ---
Shape: (64555, 41)

,work_order_id,op_id,machine_id,machine_name,planta,op_text,ref_id_str,familia,peso_neto_kg,material_lot_id,ref_materia_str,ts_ini,ts_fin,fecha,duracion_min,evento,tipo_incidencia,piezas_ok,piezas_scrap,qty_plan,qty_estimado,qty_in_almacen_dia,año_mes,horas_teoricas,reduccion_tco,horas_ajustadas,horas_enfermedad,horas_accidente,horas_permiso,horas_netas,qty_recibida,peso_bruto,uds,fecha_recepcion_ts,throughput_uph,scrap_rate,downtime_min,consumo_materia_kg,lead_time_al_almacen_dias,flag_sin_peso,flag_con_peso
0,24/0767,TALLADO,49,Talladora49,Abadiño,TALLADO,305.0,CORONA DE ARRANQUE,5.0,NaN,NaN,2025-01-28 00:50:00,2025-01-28 01:39:00,2025-01-28,49.0,Preparación,NaN,0,0,0.0,592.0,NaN,2025-01,12350.0,788.0,11562.0,752.0,0.0,390.0,10420.0,NaN,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,1.0,False,True
1,24/0767,TALLADO,49,Talladora49,Abadiño,TALLADO,305.0,CORONA DE ARRANQUE,5.0,NaN,NaN,2025-01-28 05:17:00,2025-01-28 05:49:00,2025-01-28,32.0,Incidencia,AUSENCIA,0,0,0.0,592.0,NaN,2025-01,12350.0,788.0,11562.0,752.0,0.0,390.0,10420.0,NaN,NaN,NaN,NaN,0.000000,NaN,32.0,0.0,1.0,False,True
2,24/0767,TALLADO,49,Talladora49,Abadiño,TALLADO,305.0,CORONA DE ARRANQUE,5.0,NaN,NaN,2025-01-28 01:39:00,2025-01-28 06:29:00,2025-01-28,290.0,Producción,NaN,105,3,0.0,592.0,NaN,2025-01,12350.0,788.0,11562.0,752.0,0.0,390.0,10420.0,NaN,NaN,NaN,NaN,21.724138,0.027778,0.0,525.0,1.0,False,True
3,24/0767,TALLADO,49,Talladora49,Abadiño,TALLADO,305.0,CORONA DE ARRANQUE,5.0,NaN,NaN,2025-01-28 06:29:00,2025-01-28 08:18:00,2025-01-28,109.0,Producción,NaN,36,0,0.0,592.0,NaN,2025-01,12350.0,788.0,11562.0,752.0,0.0,390.0,10420.0,NaN,NaN,NaN,NaN,19.816514,0.000000,0.0,180.0,1.0,False,True
4,24/0767,TALLADO,49,Talladora49,Abadiño,TALLADO,305.0,CORONA DE ARRANQUE,5.0,NaN,NaN,2025-01-28 08:19:00,2025-01-28 12:57:00,2025-01-28,278.0,Producción,NaN,120,0,0.0,592.0,NaN,2025-01,12350.0,788.0,11562.0,752.0,0.0,390.0,10420.0,NaN,NaN,NaN,NaN,25.899281,0.000000,0.0,600.0,1.0,False,True